.main-contact {
  padding-top: 3rem;
  padding-bottom: 4rem;
  margin: auto;
}
.about-content {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: auto;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 60%;
}
.about-info {
  width: 50%;
  display: block;
}
