@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-roboto);
}
.main-container {
}

.center {
  max-width: 100%;
  height: 100vh;
}

.backgroundDiv {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -8%);
  z-index: -1;
}

.header {
  color: #69263c;
}

.headerContent {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.leftContainer {
  width: 50%;
  height: 92vh;
  text-align: center;
}

.rightContainer {
  background-color: #3c0a1ad9;
  width: 50%;
  height: 92vh;
  opacity: 0.9;
  color: white;
  text-align: center;
}

h1.design {
  font-size: 5em;
  font-weight: bold;
  color: #69263c;
}

h1.coder {
  font-size: 5em;
  font-weight: bold;
  color: #ffffff;
}

@media screen and (max-width: 1000px) {
  .backgroundDiv {
    display: none;
  }
  .main-container {
    flex-direction: column;
  }

  .rightContainer {
    width: auto;
    height: auto;

    padding-bottom: 2rem;
  }
  .leftContainer {
    width: auto;
    height: auto;
    text-align: center;
    padding-bottom: 2rem;
  }
}
@media screen and (max-width: 500px) {
  h1.design {
    font-size: 3em;
  }

  h1.coder {
    font-size: 3em;
  }
}
