    @tailwind base;
    @tailwind components;
    @tailwind utilities;
    .center {
        max-width: 100%;
        height: 100vh;
    }
    
    .app {}
    
    .backgroundDiv {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -8%);
        z-index: -1;
    }
    
    .header {
        color: #69263C;
    }
    
    .headerContent {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    
    .leftContainer {
        width: 50%;
        height: 92vh;
        text-align: center;
    }
    
    .rightContainer {
        background-color: #3C0A1AD9;
        width: 50%;
        height: 92vh;
        opacity: .9;
        color: white;
        text-align: center;
    }
    
    h1 {
        font-size: 5em;
        font-weight: bold;
        color: #69263C;
    }
    
    h1.coder {
        font-size: 5em;
        font-weight: bold;
        color: #ffffff;
    }
    